{% extends "auctions/layout.html" %}
{% block h1%}
    <div class="length_of_watchlist">{{ length_of_watchlist }}</div>
{% endblock%}
{% block body %}
    <h2 class="active-listings">Categories</h2>
    <ul class="categories">
    {% for category in categories%}
        <li>
        <a href="{% url 'category' category_name=category.name %}">
            {% if listing.image %}
                <img src="{{ category.image }}" alt="image" style="height: 10%; width: 10%;">
            {% endif %}
                <p>{{ category.name }}</p>    
        </a>
        </li>
   {% endfor %}
    </ul>
{% endblock %}