{% extends "auctions/layout.html" %}
{% block h1%}
    <div style="width: 20px;height: 20px; color: white; background-color: #333; text-align: center; border-radius: 1rem; font-size: 12.5px; margin-top: .6rem;margin-left:-13px;">{{ length_of_watchlist }}</div>
{% endblock%}
{% block title %} create {% endblock %}
{% block body %}
    <h2 class="active-listings">Create New Listing</h2>

    <div class="create-container">
         <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <input type = "submit" name="Send">
            </div>
        </form>
    </div>

{% endblock %}