{% extends "auctions/layout.html" %}
{% block h1%}
    <div style="width: 20px;height: 20px; color: white; background-color: #333; text-align: center; border-radius: 1rem; font-size: 12.5px; margin-top: .6rem;margin-left:-13px;">{{ length_of_watchlist }}</div>
{% endblock%}
{% block title %} create {% endblock %}
{% block body %}
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <h1>Forms</h1>
        {{ form.as_p }}
        <input type = "submit" name="Send">
    </form>
{% endblock %}