{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul >
    {% for listing in listings %}
        <li style="border:1px #333 solid; width: 200px; padding: 1rem; margin: 1rem;">{% if listing.image %}
            <img src="{{ listing.image }}" alt="image" style="height: 100%; width: 100%;">
            {% endif %}
            <a href="{% url 'listing' listing_id=listing.id%}"> <h2>{{ listing.name }}</h2></a>
        <p><h4>Description</h4>{{ listing.description|truncatechars:100}}</p>
            <h1>{{ listing.starting_price }}$</h1>
            <h4>added</h4>  {{ listing.publishing_date|timesince}}

        </li>
   {% endfor %}
    </ul>
   TODO
{% endblock %}