{% extends "auctions/layout.html" %}

{% block title %}
    <title>{{ listing.name }}</title>
{% endblock %}

{% block body %}
    <ul>{% if listing.image %}
        <img src ="{{ listing.image }}" style = "height: 30%; width: 30%;">
        {% endif %}
        <li><h1>Name : {{ listing.name }}</h1></li>

            <li><h3>Price : {{ bid }} $</h3></li>
        
        <li><h3>Publishing Date: {{ listing.publishing_date }}</h3></li>
        <li><p>Description: {{ listing.description }}</p></li>
        <li><h4>Category: <a href="{% url 'category' category.first %}">{{ category.first }}</a></h4></li>
        <li><h4>Created By: <a href="#">{{ listing.creator}}</a><h4></li>
        <li><h1>Comments:</h1></li>
        {% for comment in comments %}
            <li><h3>by  <a href="#">{{ comment.user }}</a></h3> </li> <li><p>{{comment}}</p></li> 
        {% endfor %}
    </ul>
{% endblock%}