{% extends "auctions/layout.html" %}
{% block h1%}
    <div class="length_of_watchlist">{{ length_of_watchlist }}</div>
{% endblock%}
{% block title %}
    <title>{{ listing.name }}</title>
{% endblock %}
{% block body %}
   <ul class="main-page">
    <div class="image-content">
        {% if listing.image %}
        <div>
            <div class="image-container">
                <img src ="{{ listing.image }}">
            </div>
        </div>
           {% endif %}
        <div class="content">
            <h1 class="name">{{ listing.name }}</h1>
            <h3 class="price">${{ listing.starting_price }}</h3>
            <h4 class="current-bid-amount">{{current_bid_amount}}bid(s) on this listing</h4>
            <!-- Add to wathch list -->
            {% if is_in_watchlist %}
                <a class="add-rm-w" type = "button" href="{% url 'add_to_watchlist' listing.id %}">Remove From Watchlist</a>
            {% else %}
                <a class="add-rm-w" type = "button" href="{% url 'add_to_watchlist' listing.id %}">Add To Watchlist</a>
            {% endif %}
            <p class="description">{{ listing.description }}</p>
            <h4 class="category">Category: <a href="{% url 'category' category_name=listing.category %}">{{ listing.category}}</a></p></h4>
            <h4 class="creator">Created By: {{ listing.creator.username }}<h4>
            <p class="time">Added {{ listing.publishing_date|date:"M d, Y, h:i A"}}</p>
            <!-- Make offer -->
            <form action="{% url 'listing' listing_id=listing.id %}" method="POST">
                {% if winner is None %}
                    {% if not is_closed %}
                    <form action="{% url 'listing' listing_id=listing.id %}" method="POST">
                        {% csrf_token %}
                        <input  class ="bid-area" type="number" name="price" placeholder="enter offer here">
                        <input class="add-rm" type="submit" name="make_offer" value="Place Bid">
                    </form>
                    {% endif %}
                {% endif %}
            </form>
            {% if messages %}
                {% for message in messages %}
                <h1 class="current-bid-message">{{message}}</h1>
                {% endfor %}
            {% endif %}
       </div>
   </div>
     <!-- Auction close -->
   
     <form  class="close-auction" action="{% url 'listing' listing_id=listing.id %}" method="POST">
        {% csrf_token %}
        {% if creator_user and not is_closed %}
        <div>
            <input class="add-rm" type="submit" value="Close Auction" name = "close_auction">
        </div>
        {% else %}
            {% if winner%}
            <div class="winner">
                <p>{{ winner }} won the auction! </p>
            </div>
            {% endif %}
        {% endif %}
    </form>
   
         
    <section class="comment-section">
    <!-- Comment -->
            {% if user.is_authenticated %} 
            <div class="comment-container">
                  <form class="comment-form"action="{% url 'listing' listing_id=listing.id %}" method="POST">
                        {% csrf_token %}
                        <input type="text" name="title" placeholder="Enter title of your comment">
                        <textarea name="content"  cols="30" rows="10" placeholder="Write your comments here "></textarea>
                        <div>
                            <input class="add-rm"type="submit" name="submit_comment" value="Send">
                        </div>
                    </form>       
            </div>
           {% else %}
            <p class="login-to-comment"><a href="{% url 'login' %}">Login </a>to be able to comment</p>
            {% endif %} <!-- endif of is_authanticated -->
    </section>  
    <div class="comments">
        <h1>Comments</h1>
        <ul>
        {% for comment in  listing.comment.all %}
        <li>
            <h3>{{ comment.title }}</h3>
            <p>{{comment.content}}</p>  
            <p><span>By:  </span>{{ comment.user.username }}</p>
        </li> 
        {% endfor %}
 
        </ul>
   </div>
{% endblock%}