{% extends "auctions/layout.html" %}
{% block h1%}
    <div class="length_of_watchlist">{{ length_of_watchlist }}</div>
{% endblock%}
{% block body %}
<div class="active-listings">
    <h2>Watchlist</h2>
</div>
    <ul >
    {% for listing in listings %}
        <li class ="listings">{% if listing.image %}
            <div class="image-div">
                <a href="{% url 'listing' listing_id=listing.id%}"><img class="listing-image"src="{{ listing.image }}" alt="image"></a>
            </div>
            {% endif %}
            <div class="listing-side-content">
                    
                <a href="{% url 'listing' listing_id=listing.id%}"> <h2>{{ listing.name }}</h2></a>
                <p>{{ listing.description|truncatechars:100}}</p>
                <h1>{{ listing.starting_price }}$</h1>
                <p>Created  {{ listing.publishing_date|date:"M d, Y,h:i A "}}</p>
                <br>
                <a class="add-rm-w"href="{% url 'add_to_watchlist' listing.id %}">Remove From Watchlist</a>
            </div>
       </li>
   {% endfor %}
    </ul>
{% endblock %}